<% content_for :custom_meta_tags do %>
  <meta name="description" content="<%= @talk.title %>" />

  <meta property="og:title" content="<%= @talk.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= @talk.poster_url %>" />

  <meta property="twitter:title" content="<%= @talk.title %>" />
  <meta property="twitter:image" content="<%= @talk.poster_url %>" />
<% end %>

<div class="container">
    <article class="talk">
        <div class="talk__video">
            <%= raw @talk.embed %>
        </div>

        <h1 class="talk__title">
            <%= @talk.title %>
        </h1>

        <div class="talk__body">
            <%= raw markdown @talk.content %>
        </div>

        <div>
            <%= render "shared/disqus" %>
        </div>

    </article>
</div>
